[submodule "kitty"]
	path = kitty
	url = https://github.com/SushyDev/kitty
[submodule "zsh"]
	path = zsh
	url = https://github.com/SushyDev/zsh
[submodule "tmux"]
	path = tmux
	url = https://github.com/SushyDev/tmux
[submodule "nvim"]
	path = nvim
	url = https://github.com/SushyDev/nvim
